<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 text-center">
                    <h2 class="section-heading">RSVP</h2>
                    <h3 class="section-subheading text-muted">You may RSVP via <a href="https://goo.gl/forms/7rE4nMdMyEdvcaZi2">this link.</a><br><br>If you need to reach us for any reason, please <a href="mailto:minuccianirocko@gmail.com">send us an email</a></h3>
                </div>
                <div class="col-lg-4 pic">
                    <img src="img/joeshell_1.jpg">
                </div>
            </div>
        </div>
    </section>