  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% comment %}
                    <span class="copyright">Copyright &copy; {{ site.title }} 2014</span>
                    {% endcomment %}
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        {% comment %}
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                        {% endcomment %}
                    </ul>
                    <p>Site design based on <a href="http://startbootstrap.com/template-overviews/agency/">Agency</a> from Start Bootstrap</p>
                </div>
            </div>
        </div>
    </footer>