    <section id="lodging" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Travel &amp; Lodging</h2>
                            <h3 class="section-subheading text-muted">We recommend flying in to Oakland Airport, SFO is busier and further from our venue.</h3>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <p>We have reserved a block of rooms at the <a href="http://www.marriott.com/hotels/travel/oakdt-oakland-marriott-city-center/">Marriott City Center</a> in Downtown Oakland.</p>
                        <p>Please <a href="https://resweb.passkey.com/go/GoodwinPretzlavWedding">follow this link</a> if you would like to use our discounted rate.</p>
<!--                     </div>
                    <div class="col-md-6">
 -->                        <p>If you choose not to book at the Marriott, in addition to the many options on <a href="https://www.airbnb.com/s/pidmont--ca?guests=2&checkin=06%2F17%2F2016&checkout=06%2F19%2F2016&ss_id=3qkujlvp&source=bb&s_tag=BkqqS4CN">Airbnb</a> and <a href="https://www.homeaway.com/search/keywords:piedmont%2C+ca/arrival:2016-06-17/departure:2016-06-19/minSleeps/2">HomeAway</a> available in the area, we recommend these economical options:</p>
                        <ul>
                        <li><a href="http://www.thepiedmontplace.com">Piedmont Place Motel</a> (closest to venue)
                        <li><a href="http://www.thewashingtoninn.com">Washington Inn Hotel</a> Downtown Oakland
                        <li><a href="http://www.goldenbearinn.com">America's Best Value Golden Bear Inn</a> Berkeley
                        <li><a href="http://www.imperialinnoakland.com">Imperial Inn</a> Oakland
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../img/lodge.jpg" style="height: auto; width: 100%; max-width: 800px">
                </div>
            </div>
        </div>
    </section>