    <section id="lodging" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Lodging</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <!-- <h4>Lodging</h4> -->
                        <br/>
                        <p>We have reserved a block of rooms at the <b>Hampton Inn in Beloit, WI</b> but it is filling up. We opened another room block right next door to the Hampton Inn at the <b>Home2 Suites by Hilton Beloit</b>. Follow <a href="http://home2suites.hilton.com/en/ht/groups/personalized/R/RFDBTHT-MRW-20190201/index.jhtml">this link</a> and rooms should be $109 per night. We were also periodically seeing rooms slightly cheaper than that so if you want to try booking without our link to save a couple bucks feel free.</p>
                        <p>Other convenient hotels include the <a href="https://www.marriott.com/hotels/travel/rfdbl-fairfield-inn-and-suites-beloit/">Fairfield Inn & Suites by Marriott Beloit</a> which is across the street from the Hampton and the <a href="http://ironworkshotel.com/beloit/">Ironworks Hotel</a>. All four are marked on the map below.
                        </p></div>
                    <div class="col-md-10 col-md-offset-1">
                        <br/>
                        <h4>Getting Around</h4>
                        <p>Mass is at 2:00pm and Cocktail Hour starts at 6:00pm so hang out in between while the wedding party takes pictures. </p>
                        <p>You are welcome to drive to venue, there is plenty of parking. We will also have shuttles departing from the Hampton Inn at 5:30pm and 5:40pm. They can make stops at the Fairfield and Ironworks. Return trips from the venue to hotels will start around 8:30pm and depart periodically until 11:15pm.</p>
                    </div>
                </div>
                <div class="col-md-4 pic">
                    <img class="pic" src="../img/m_J.jpeg">
                </div>
            </div>

        </div>
    </section>
