    <section id="lodging" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row text-center">                
                        <div class="col-md-12 text-center">
                            <h2 class="section-heading">Travel &amp; Lodging</h2>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1">
                        <h4>Getting There</h4>
                        <p>We recommend flying into Oakland International because it's closer to the venue. SFO is busier and further away, but may be less expensive depending on where you're coming from.</p>
                        <h4>Getting Around</h4>
                        <p>If you're not renting a car, the Bay Area has acceptable public transit and services like Lyft and Uber are easy to get. The AC transit bus 11 runs from Downtown Oakland directly to our venue, but stops running early.</p>
                        <h4>Lodging</h4>
                        <p>We have reserved a block of rooms at the <a href="http://www.marriott.com/hotels/travel/oakdt-oakland-marriott-city-center/">Marriott City Center</a> in Downtown Oakland.</p>
                        <p>Please <a href="https://resweb.passkey.com/go/GoodwinPretzlavWedding">follow this link</a> if you would like to use our discounted rate.</p>
<!--                     </div>
                    <div class="col-md-6">
 -->                        <p>In addition to the Marriott, there are many options on <a href="https://www.airbnb.com/s/pidmont--ca?guests=2&checkin=06%2F17%2F2016&checkout=06%2F19%2F2016&ss_id=3qkujlvp&source=bb&s_tag=BkqqS4CN">Airbnb</a> and <a href="https://www.homeaway.com/search/keywords:piedmont%2C+ca/arrival:2016-06-17/departure:2016-06-19/minSleeps/2">HomeAway</a> available in the area. For less expensive hotels check out these places:</p>
                        <ul>
                        <li><a href="http://www.thepiedmontplace.com">Piedmont Place Motel</a> (closest to venue)
                        <li><a href="http://www.thewashingtoninn.com">Washington Inn Hotel</a> Downtown Oakland
                        <li><a href="http://www.goldenbearinn.com">America's Best Value Golden Bear Inn</a> Berkeley
                        <li><a href="http://www.imperialinnoakland.com">Imperial Inn</a> Oakland
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 pic">
                    <img class="pic" src="../img/lodge.jpg">
                </div>
            </div>
        </div>
    </section>