    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="../img/flowers2-2.png" style="width: 50%; height: 50%" />
                    <h2 class="section-heading">RECIPES</h2>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                    <p>We gave our guests small packs of cards of our favorite recipes. <a href="img/recipes.pdf">If you'd like a PDF version, click here!</a></p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <a href="img/recipes.pdf"><img src="img/recipes-envelope.png" srcset="img/recipes-envelope-2x.png 2x" style="max-width: 100%"></img></a>
                </div>
            </div>
        </div>
    </section>