    <section id="registry" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pic">
                    <img class="pic" src="/img/fight.jpg" srcset="/img/fight_2x.jpg 2x">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading text-center">REGISTRY</h2>

                    <p>As many of you know, we are planning to move to California this fall after Kealie finishes her PhD. With the cost of living in the Bay Area, we'll likely be downsizing. So, we won't need more stuff until we move into a larger, long-term home. Although gifts are not expected, if you would like to give us a gift, we would prefer cash to save up for our future home.</p>

                    <p>If you would like to give a gift that is not cash, we have put together a small registry <a href="https://www.zola.com/registry/kealieandalex">here</a>. If you're planning to send something in the mail, please get in touch as we're moving across the country this summer.</p>
                </div>
            </div>
        </div>
    </section>