    <section id="registry" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="/img/fight.jpg" style="width: 100%">
                </div>
                <div class="col-md-6">
                    <h2 class="section-heading text-center">REGISTRY</h2>

                    <p>As many of you know, we are planning to move to California this fall after Kealie finishes her PhD. Because of the impending move and since we will still be living in Austin in June, we ask for cash gifts only. <b>Please do not bring gifts to the wedding.</b></p>

                    <p>If you want to give something more concrete, we have set up an online registry where you can contribute funds towards items we would like to get after we move. <a href="https://www.zola.com/registry/kealieandalex">Click here to view our registry on Zola.</a>
                </div>
            </div>
        </div>
    </section>