    <section id="registry" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Fun Facts</h2>
                    <br/>
                </div>
                <div class="col-md-6 pic">
                    <img class="pic" src="/img/baby_michelle.jpg" style="width: 30%; height: 30%"/>
                    <p>Michelle grew up in Long Grove and Libertyville. She received degrees in Hospitality Management and Culinary Arts from Kendall College and the Culinary Institute of American respectively. She is caring and passionate about her work. She makes a mean meal. She enjoys Taco Tuesday and a crisp Sauvignon Blanc, though not necessarily together. She loves animals, sometimes more than humans, which makes her a great cat mom and sister to Bella. </p>
                </div>
                <div class="col-md-6 pic">
                    <img class="pic" src="/img/baby_joe.jpg" style="width: 75%; height: 75%"/>
                    <p>Joe grew up across from a Christmas Tree Farm out in Johnsburg, IL.  He is an avid water skier, in his youth he joined the Wonder Lake Water Ski team. He then ventured off to UIC earning his degree in Computer Engineering. He is a lover of basketball, building computers, coding, long bike rides, sushi, a cold brew with a koozie, and a dram of scotch.</p>
                </div>
            </div>
        </div>
    </section>