    <section id="venue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="../img/flowers2-2.png" style="width: 50%; height: 50%" />
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">Saturday: Wedding. Sunday: Picnic</h3>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                    <h3 class="service-heading">Ceremony and Reception</h3>
                    <h4>Saturday, June 18th 5:30 PM</h4>
                    <h5><a href="http://www.ci.piedmont.ca.us/recreation/facilities.shtml">Piedmont Community Hall</a></h5>
                    <p class="text-muted"><a href="https://maps.google.com/?q=711+Highland+Ave,+Oakland,+CA+94611">711 Highland Ave, Oakland, CA 94611</a></p>

                    <p>
                    Attire: Comfortable-Classy<br>
                    Dinner: Tacos<br>
                    Drinks: Yes<br>
                    Dancing: Duh
                    </p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <img src="img/PiedmontCommunityHall2.jpg" style="max-width: 100%"></img>
                </div>
            </div>

            <div class="row image-row">
                <div class="col-md-5 col-lg-4 col-md-push-6">
                    <p>Off-street parking is limited at Piedmont Community Hall. Please consider carpooling, taxiing, or using lyft/uber. There is some street parking nearby when the lot is full.</p>
                    <p>The ceremony will start at 5:30 PM and will be outside.</p>
                    <p>Cocktails and appetizers will be served outside immediately following the ceremony, then we will move inside the hall for dinner and dancing.</p>
                    <p>See map for parking and ceremony locations.</p>
                </div>
                <div class="col-md-5 col-md-offset-1 text-center col-md-pull-5 col-lg-pull-4">
                    <img src="img/PiedmontMap.jpg" style="max-width: 100%" />
                </div>
            </div>

            <div class="row text-center image-row" id="picnic">
                <div class="col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2">
                    <h3 class="service-heading">Day After Picnic in the Park</h3>
                    <h4>Sunday, June 19th 11:30 AM</h4>
                    <h5><a href="http://www2.oaklandnet.com/Government/o/opr/s/Parks/JoaquinMiller/index.htm">Joaquin Miller Park</a> Baywood Picnic Area</h5>
                    <p class="text-muted"><a href="https://www.google.com/maps/place/37°48'37.5%22N+122°10'59.5%22W/@37.8104319,-122.1843371,18z/data=!4m2!3m1!1s0x0:0x0">3594 Sanborn Dr, Oakland, CA 94602</a></p>

                    <p>
                    Attire: Comfy-Casual<br>
                    Food: Provided<br>
                    Drinks: BYOB, we'll bring some too<br>
                    </p>
                </div>
                <div class="col-md-5 col-lg-4">
                    <img src="img/miller.jpg" style="max-width: 100%"></img>
                </div>
            </div>

            <div class="row image-row">
                <div class="col-md-5 col-lg-4 col-md-push-6">
                    <p>Use Google Maps to navigate to “Sundays in the Redwoods” in Oakland, CA</p>
                    <p>The picnic is in a grassy field. Please consider this when choosing footwear. There will be plenty of picnic tables.</p>
                    <p>Lunch and non-alcoholic drinks provided. We’ll bring any leftover reception alcohol, otherwise BYOB.</p>
                    <p>See map for picnic area and parking locations.</p>
                </div>
                <div class="text-center col-md-5 col-md-offset-1 col-md-pull-5 col-lg-pull-4">
                    <img src="img/JoaquinMap.jpg" style="max-width: 100%" />
                </div>
            </div>

{% comment %}
            <div class="row text-center">
                <div class="col-md-6 pic">
                    <img src="img/miller.jpg" style="max-width: 100%"></img>
                </div>
                <div class="col-md-6">
                    <div id="map-park" class="map"></div>
                </div>
            </div>
{% endcomment %}
        </div>
    </section>