{% include css/bootstrap.min.css %}
{% include css/agency.css %}

#map-canvas {
	height: 350px;
	margin: 30px;
}

#cats img {
	max-height: 300px;
}

#cats .col-md-4, #cats .col-md-6 {
	margin-top: 20px;
}