{% include css/bootstrap.min.css %}
{% include css/agency.css %}

.map {
	height: 350px;
	margin-left: 30px;
}

#cats img {
	max-height: 300px;
}

#cats .col-md-4, #cats .col-md-6 {
	margin-top: 20px;
}

.image-row {
	margin-top: 20px;
}